<%- include("header") -%>
<style>
    .thumbnails{
        display: block;
        text-align: center;
    }
    .thumbnails *{
        display: inline-block;
    }

</style>
<div id="movieInfo">
    <h2>Movies infomation</h2>
    <div class="thumbnails">
        <% movies.forEach(element => { %>
            <div class="thumbnail">
                <a href="/movie/<%= element.name %> "><img src="<%= element.img %>"  alt="<%= element.name %>" width="186px" height="286px"></a>
                <a href="/movie/<%= element.name %> "><h5><%= element.name %></h5></a><br>
                <a href="/movie/<%= element.name %> "><p><%= element.rating %> </p></a><br>
                <a href="/movie/<%= element.name %> "><p><%= element.releasedate %> </p></a><br>
                <a href="/movie/<%= element.name %> "><p><%= element.genre %> </p></a>
            </div>
            <div>
                <p><%= element.description %></p>
            </div>
        <% }) %>
    </div>
</div>

<footer>
    Made with ❣ by Group 19
</footer>

<script>

    var genre = document.getElementById("genre")
    var opts = document.getElementById("opts")
    genre.onmouseover = () => {
        opts.style.display = "block";
    }
    genre.onmouseout = () => {
        opts.style.display = "none";
    }
</script>
</body>
</html>
